/*FONTS*/
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*IMPORTANT*/
.hidden{
    display: none !important;
}

/*BODY*/
body{
    margin: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    aspect-ratio: 630 / 380; 
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.menu, .game{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

/*MAIN MENU*/
#menu{
    background-image: url('images/MainMenu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
}

#game{
    background-image: url('images/cafetera.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-attachment: fixed;
}

#btn-start{
    background-image: url('images/button.png');
    width: 460px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    bottom: 10px;
}
#btn-start:hover{
    background-image: url('images/buttonhover.png');
    width: 460px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    transition: 0.3s;
}
#btn-start:active{
    background-image: url('images/buttonhover.png');
    width: 455px;
    height: 195px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
}

#btn-clicker{
    background-image: url('images/off.png');
    width: 170px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    left: 42%;
    top: 145px;
}

#btn-clicker:active{
    background-image: url('images/on.png');
    width: 170px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    transition: 0.1s;
}

#btn-back{
    background-image: url('images/back.png');
    width: 280px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}
#btn-back:hover{
    background-image: url('images/backhover.png');
    width: 280px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    transition: 0.3s;
}
#btn-back:active{
    background-image: url('images/backhover.png');
    width: 280px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    border: none; 
    cursor: pointer;
}

.cup{
    width: 180px;
    height: 180px;
    background-image: url('images/coffee.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    position: absolute; 
    bottom: 90px;
    left: 49%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.special{
    background-image: url('images/specialCoffee.png');
}

.animation-in{
    transform: translateX(700px);
    opacity: 0;
    transition: none !important;
}
.animation-out {
    transform: translateX(-700px); 
    opacity: 0;
}

.plus-animation{
    position: absolute;
    width: 180px;
    height: auto;
    pointer-events: none; 
    animation: flyUp 1s ease-out forwards; 
    z-index: 100;
    image-rendering: pixelated;
}

@keyframes flyUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}

.btn{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    
    image-rendering: pixelated; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.btn:hover{
    transition: transform 0.3s;
    filter: brightness(1.2);
}

.btn:active{
    transform: scale(0.9);
    transition: transform 0.1s;
}

.left{
    position: absolute; 
    bottom: 5px;
    left: 20px;
    background-image: url('images/person.png');
}

.right{
    position: absolute; 
    bottom: 5px;
    right: 20px;
    display: flex; 
    flex-direction: row;
    gap: 15px;
    z-index: 9999;
}

.rightUp{
    position: absolute; 
    top: 5px;
    right: 20px;
}

#btn-config{
    background-image: url('images/config.png');
}
#btn-music{
    background-image: url('images/music.png');
}
#btn-statics{
    background-image: url('images/statics.png');
}



